{% extends 'base.html' %}

{% block title %}
Criar Conta - GR
{% endblock %}

{% block content %}
<div class="flex justify-center py-12">
    <div class="w-full max-w-2xl bg-gradient-to-r from-[#141420] to-[#16163B] rounded-2xl border border-purple-500 shadow-lg p-8">

        <h1 class="text-3xl font-bold text-center text-purple-600 mb-8">
            Criar Conta
        </h1>

        <form method="POST"
              action="{{ url_for('route.signin') }}"
              class="space-y-5">

            <div class="grid md:grid-cols-2 text-white gap-4">

                <input
                    class="border rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-purple-500"
                    name="nome"
                    type="text"
                    placeholder="Nome"
                    required
                >

                <input
                    class="border rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-purple-500"
                    name="sobrenome"
                    type="text"
                    placeholder="Sobrenome"
                    required
                >

                <input
                    class="border rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-purple-500"
                    name="email"
                    type="email"
                    placeholder="Email"
                    required
                >

                <input
                    class="border rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-purple-500"
                    name="senha"
                    type="password"
                    placeholder="Senha"
                    required
                >

            </div>

            <button
                type="submit"
                class="w-full bg-purple-600 hover:bg-purple-700 text-white py-3 rounded-lg font-semibold transition cursor-pointer"
            >
                Criar Conta
            </button>
        </form>

        <div class="mt-6 text-center">
            <p class="text-gray-400">
                Já possui uma conta?
            </p>

            <a
                href="/login"
                class="text-purple-600 hover:text-purple-800 font-medium"
            >
                Fazer login
            </a>
        </div>

    </div>
</div>
{% endblock %}