{% extends 'base.html' %}

{% block title %}
Periféricos - GR
{% endblock %}

{% block content %}
<section class="max-w-6xl mx-auto px-8 pb-20">

    <div class="grid grid-cols-1 mt-7 md:grid-cols-4 gap-8">
        <a href="">
        <div class="bg-[#11111A] rounded-xl p-4 shadow-lg border border-zinc-800">

            <img
                src="{{ url_for('static', filename='img/headset.webp') }}"
                class="w-full h-48 object-contain bg-white rounded-lg"
            >

            <h3 class="text-white text-center mt-4">
                Headset HyperX Cloud II
            </h3>

            <div class="flex justify-between mt-4">
                <span class="text-purple-400">
                    ★★★★★
                </span>

                <span class="text-purple-400">
                    8.36/10
                </span>
            </div>

        </div>
        </a>
        <a href="">
        <div class="bg-[#11111A] rounded-xl p-4 shadow-lg border border-zinc-800">

            <img
                src="{{ url_for('static', filename='img/headset.webp') }}"
                class="w-full h-48 object-contain bg-white rounded-lg"
            >

            <h3 class="text-white text-center mt-4">
                Headset HyperX Cloud II
            </h3>

            <div class="flex justify-between mt-4">
                <span class="text-purple-400">
                    ★★★★★
                </span>

                <span class="text-purple-400">
                    8.36/10
                </span>
            </div>

        </div>
        </a>
        <a href="">
        <div class="bg-[#11111A] rounded-xl p-4 shadow-lg border border-zinc-800">

            <img
                src="{{ url_for('static', filename='img/headset.webp') }}"
                class="w-full h-48 object-contain bg-white rounded-lg"
            >

            <h3 class="text-white text-center mt-4">
                Headset HyperX Cloud II
            </h3>

            <div class="flex justify-between mt-4">
                <span class="text-purple-400">
                    ★★★★★
                </span>

                <span class="text-purple-400">
                    8.36/10
                </span>
            </div>

        </div>
        </a>
        <a href="">
        <div class="bg-[#11111A] rounded-xl p-4 shadow-lg border border-zinc-800">

            <img
                src="{{ url_for('static', filename='img/headset.webp') }}"
                class="w-full h-48 object-contain bg-white rounded-lg"
            >

            <h3 class="text-white text-center mt-4">
                Headset HyperX Cloud II
            </h3>

            <div class="flex justify-between mt-4">
                <span class="text-purple-400">
                    ★★★★★
                </span>

                <span class="text-purple-400">
                    8.36/10
                </span>
            </div>

        </div>
        </a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
        <a href="">
        <div class="bg-[#11111A] rounded-xl p-4 shadow-lg border border-zinc-800">

            <img
                src="{{ url_for('static', filename='img/headset.webp') }}"
                class="w-full h-48 object-contain bg-white rounded-lg"
            >

            <h3 class="text-white text-center mt-4">
                Headset HyperX Cloud II
            </h3>

            <div class="flex justify-between mt-4">
                <span class="text-purple-400">
                    ★★★★★
                </span>

                <span class="text-purple-400">
                    8.36/10
                </span>
            </div>

        </div>
        </a>
        <a href="">
        <div class="bg-[#11111A] rounded-xl p-4 shadow-lg border border-zinc-800">

            <img
                src="{{ url_for('static', filename='img/headset.webp') }}"
                class="w-full h-48 object-contain bg-white rounded-lg"
            >

            <h3 class="text-white text-center mt-4">
                Headset HyperX Cloud II
            </h3>

            <div class="flex justify-between mt-4">
                <span class="text-purple-400">
                    ★★★★★
                </span>

                <span class="text-purple-400">
                    8.36/10
                </span>
            </div>

        </div>
        </a>
        <a href="">
        <div class="bg-[#11111A] rounded-xl p-4 shadow-lg border border-zinc-800">

            <img
                src="{{ url_for('static', filename='img/headset.webp') }}"
                class="w-full h-48 object-contain bg-white rounded-lg"
            >

            <h3 class="text-white text-center mt-4">
                Headset HyperX Cloud II
            </h3>

            <div class="flex justify-between mt-4">
                <span class="text-purple-400">
                    ★★★★★
                </span>

                <span class="text-purple-400">
                    8.36/10
                </span>
            </div>

        </div>
        </a>
        <a href="">
        <div class="bg-[#11111A] rounded-xl p-4 shadow-lg border border-zinc-800">

            <img
                src="{{ url_for('static', filename='img/headset.webp') }}"
                class="w-full h-48 object-contain bg-white rounded-lg"
            >

            <h3 class="text-white text-center mt-4">
                Headset HyperX Cloud II
            </h3>

            <div class="flex justify-between mt-4">
                <span class="text-purple-400">
                    ★★★★★
                </span>

                <span class="text-purple-400">
                    8.36/10
                </span>
            </div>

        </div>
        </a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
        <a href="">
        <div class="bg-[#11111A] rounded-xl p-4 shadow-lg border border-zinc-800">

            <img
                src="{{ url_for('static', filename='img/headset.webp') }}"
                class="w-full h-48 object-contain bg-white rounded-lg"
            >

            <h3 class="text-white text-center mt-4">
                Headset HyperX Cloud II
            </h3>

            <div class="flex justify-between mt-4">
                <span class="text-purple-400">
                    ★★★★★
                </span>

                <span class="text-purple-400">
                    8.36/10
                </span>
            </div>

        </div>
        </a>
        <a href="">
        <div class="bg-[#11111A] rounded-xl p-4 shadow-lg border border-zinc-800">

            <img
                src="{{ url_for('static', filename='img/headset.webp') }}"
                class="w-full h-48 object-contain bg-white rounded-lg"
            >

            <h3 class="text-white text-center mt-4">
                Headset HyperX Cloud II
            </h3>

            <div class="flex justify-between mt-4">
                <span class="text-purple-400">
                    ★★★★★
                </span>

                <span class="text-purple-400">
                    8.36/10
                </span>
            </div>

        </div>
        </a>
        <a href="">
        <div class="bg-[#11111A] rounded-xl p-4 shadow-lg border border-zinc-800">

            <img
                src="{{ url_for('static', filename='img/headset.webp') }}"
                class="w-full h-48 object-contain bg-white rounded-lg"
            >

            <h3 class="text-white text-center mt-4">
                Headset HyperX Cloud II
            </h3>

            <div class="flex justify-between mt-4">
                <span class="text-purple-400">
                    ★★★★★
                </span>

                <span class="text-purple-400">
                    8.36/10
                </span>
            </div>

        </div>
        </a>
        <a href="">
        <div class="bg-[#11111A] rounded-xl p-4 shadow-lg border border-zinc-800">

            <img
                src="{{ url_for('static', filename='img/headset.webp') }}"
                class="w-full h-48 object-contain bg-white rounded-lg"
            >

            <h3 class="text-white text-center mt-4">
                Headset HyperX Cloud II
            </h3>

            <div class="flex justify-between mt-4">
                <span class="text-purple-400">
                    ★★★★★
                </span>

                <span class="text-purple-400">
                    8.36/10
                </span>
            </div>

        </div>
        </a>
    </div>
    

</section>
{% endblock %}