{% extends 'base.html' %}

{% block title %}
Periféricos - GR
{% endblock %}

{% block content %}
<section class="max-w-6xl mx-auto px-8 pb-20 ">

    <div class="grid grid-cols-1 mt-7 md:grid-cols-4 gap-8">
        {% for produto in produtos %}
        <a href="">
        <div class="bg-[#11111A] rounded-xl p-4 shadow-lg border border-zinc-800">

            <img
                src="{{ produto['per_imagem'] }}"
                class="w-full h-48 object-contain bg-white rounded-lg"
            >

            <h3 class="text-white text-center mt-4">
                {{ produto['per_nome'] }}
            </h3>

            <div class="flex justify-between mt-4">
                <span class="text-purple-400">
                    ★★★★★
                </span>

                <span class="text-purple-400">
                    {{ produto['rev_rate'] }}
                </span>
            </div>

        </div>
        </a>
    {% endfor %}

</section>
{% endblock %}